.window-app {
  font-family: $font-primary;
}

.rollable,
.ability-roll {

  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

img {
  border: 0;
}

.critical-label {
  border: 6px solid greenyellow;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.25em;
}

.blunder-label {
  border: 6px solid lightcoral;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.25em;
}

.hit-label {
  border: 4px solid greenyellow;
  padding: 0.5em;
  margin: 0.5em;
}

.miss-label {
  border: 4px solid lightcoral;
  padding: 0.5em;
  margin: 0.5em;
}

// Roll dialog
.roll-total {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  margin: 0.3em;
  padding: 0.3em;
  border: 3px solid green;
  background-color: lightgray;
}

.roll-result {
  display: flex;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  border: 3px solid green;
  justify-content: center;
}

.roll-shield, .roll-focus {
  display: flex;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  border: 3px solid goldenrod;
  justify-content: space-between;
}

.damage-result {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  margin: 0.3em;
  padding: 0.3em;
  background-color: lightcoral;
}

